<h1>New Game</h1>
<% @letters.each do |letter| %>
<%= letter %>
<% end %>
<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="Enter your word here">
  <input type="hidden" name="grid" value="<%=@letters.join%>">
  <input type="submit" value="Play!">
</form>
